<ion-header>
  <ion-navbar color="fundo">
    <ion-buttons end>
      <button ion-button icon-only (click)='goToHome()'>
        <ion-icon color='white' name='home'>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Carrinho de compras</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let product of products; let i = index">
    <ion-card-header><strong>Refeição ({{ i+1 }})</strong></ion-card-header>
    <ion-card-content>
      <h3>
        <strong>Restaurante: </strong> {{restaurant.fantasy_name}}
      </h3>
      <h3 style="margin-bottom: 10px">
        <strong>{{product.menu.description}} </strong> {{product.price.size}} -
        {{product.price.price | currency: 'BRL': true}}
      </h3>
      <h3 style="margin-top: -8px" *ngIf="product.ingredients.length > 0">
        <strong>Ingredientes: </strong> {{product.ingredients_string}}
      </h3>
      <div *ngIf="product.additionals.length > 0">
        <accordion-list *ngFor="let item of itemsAdditionals; let index = index" [title]="item.name" textColor="#222"
          hasMargin="true" headerColor="#f4f4f4">
          <ion-list no-lines>
            <button color="#8888" ion-item *ngFor="let add of product.additionals">
              {{add.name}}
              <p>Quantidade: {{add.quantity}}</p>
              <p>Valor unitário: {{add.value | currency: 'BRL': true}}</p>
            </button>
          </ion-list>
        </accordion-list>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <strong>Dados do pedido</strong>
    </ion-card-header>
    <ion-card-content>
      <h3 *ngIf="value > lunch_price">
        <strong>Valor de adicional e bebida: </strong> {{value - lunch_price | currency: 'BRL': true}}
      </h3>
      <h3 *ngIf="lunch_price > 0">
        <strong>Valor de refeição: </strong> {{lunch_price | currency: 'BRL': true}}
      </h3>
      <h3>
        <strong>Valor total do pedido: </strong> {{value | currency: 'BRL': true}}
      </h3>
      <ion-item>
        <button padding ion-button icon-left color="fundo" block (click)="addMorePackedLunch()">
          <ion-icon name="cart"></ion-icon>Continuar comprando
        </button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-footer-bar>
    <ion-grid>
      <ion-row padding no-margin>
        <ion-col col-12 padding>
          <button ion-button color="fundo" full (click)="goToOrderCompletionPage()">Avançar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer-bar>
</ion-content>