<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fundo">
    <ion-buttons *ngIf="page == 'myOrdersPage'" end>
        <button ion-button icon-only (click)='goToHome()'>
          <ion-icon color='white' name='home'>
          </ion-icon>
        </button>
    </ion-buttons>
    <ion-title *ngIf="page == 'additionalsPage'">Finalize seu pedido :)</ion-title>
    <ion-title *ngIf="page == 'myOrdersPage'">Realize o seu login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <div class="centered">
          <ion-card>
            <ion-card-header>
              Já sou cadastrado
            </ion-card-header>
          <ion-card-content>
              <ion-list>
                  <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input [(ngModel)] = "user.email" type="text"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label floating>Senha</ion-label>
                    <ion-input [(ngModel)] = "user.password" type="password"></ion-input>
                  </ion-item>

                  <button ion-button block color="fundo" (click)="login()">Login</button>
                </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
              Ainda não possui um cadastro?
            </ion-card-header>
            <ion-card-content>
                <button ion-button block icon-end color="fundo" (click)="openRegisterPage()">
                  Realizar cadastro
                </button>
            </ion-card-content>
        </ion-card>
        <ion-card *ngIf="page == 'additionalsPage'">
            <ion-row>
              <ion-col col-12>
                  <ion-card-header>
                      <h2><strong>Resumo do pedido</strong></h2>
                  </ion-card-header>
                  <ion-item>
                      <h2>
                        <strong>Restaurante: </strong> {{restaurant.fantasy_name}}
                      </h2>
                      <h2>
                        <strong>Tamanho da marmita: </strong> {{selected_price.size}}
                      </h2>
                      <h2>
                        <strong>Valor total: </strong> {{value | currency: 'BRL': true}}
                      </h2>
                    </ion-item>
              </ion-col>
            </ion-row>
          </ion-card>
      </div>
</ion-content>
