
<ion-header>
  <ion-navbar color="fundo">
    <ion-buttons *ngIf="logged" end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Pandeco</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg" color="fundo">
  <ion-row no-padding>
    <ion-col col-12>
      <ion-searchbar placeholder="Nome do restaurante" (ionInput)="getRestaurantsByName($event)"></ion-searchbar>
    </ion-col>
<!--     <ion-col col-2 class="filter">
      <button text-right ion-button color="fundo" clear icon-only>
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-col> -->
  </ion-row>

  <ion-card *ngFor="let restaurant of restaurants" (click)="goToRestaurantMenuPage(restaurant)" >
      <ion-row>
        <ion-col col-6>
          <img src="{{restaurant.image_base64}}"/>
        </ion-col>
        <ion-col col-6>
          <ion-card-title style="font-size: large">
              {{restaurant.fantasy_name}}
          </ion-card-title>
            <p style="color: #00b300">
              <b>Entrega: {{restaurant.delivery_value === null ? 'gratuíta' : restaurant.delivery_value | currency: 'BRL': true}}</b>
            </p>
            <p>
              <ion-icon name="ios-time"></ion-icon> {{'2018-01-01 ' + restaurant.avg_delivery_time | date:'mm'}} minutos
            </p>
            <p>
              Abre às {{'2018-01-01 ' + restaurant.opening_time | date:'h:mm'}} <!-- gambis marota -->
            </p>
            <ion-badge style="margin-left: 3px; margin-top: 2px" color="tag" col-5 *ngFor="let tag of restaurant.tags">
              {{tag.name}}
            </ion-badge>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
