
<ion-header>
  <ion-navbar color="fundo">
    <ion-buttons *ngIf="logged" end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="! logged && ! isWeb" end>
      <button ion-button icon-only (click)="chat()">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Pandeco</ion-title>
    <p style="margin-left: 11px; margin-top: 3px; color:white" *ngIf="city != null"><ion-icon name="pin"></ion-icon>    {{ city.name }}</p>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg" color="fundo">
  <ion-row no-padding>
    <ion-col col-12>
      <ion-searchbar placeholder="Nome do restaurante" (ionInput)="getRestaurantsByName($event)"></ion-searchbar>
    </ion-col>
  </ion-row>
  <div *ngFor="let restaurant of restaurants">
    <ion-card  *ngIf="restaurant.is_open">
      <ion-row>
        <ion-col col-7 (click)="goToRestaurantMenuPage(restaurant)">
          <img src="{{restaurant.image_base64}}"/>
        </ion-col>
        <ion-col col-5>
          <div (click)="goToRestaurantMenuPage(restaurant)">
              <h2 style="margin-bottom: 10px">
                  <strong>{{restaurant.fantasy_name}}</strong>
              </h2>
                <h3>
                  <ion-badge color="price">
                    Aberto
                  </ion-badge>
                </h3>
                <h3>
                  <ion-badge color="tag">
                    Abre às {{ restaurant.open_at }}
                  </ion-badge>
                </h3>
                <h3>
                  <ion-icon name="ios-time"></ion-icon> {{'2018-01-01 ' + restaurant.avg_delivery_time | date:'mm'}} minutos
                </h3>
                  <h3 style="margin-top: 10px" *ngIf="restaurant.only_cash">
                    <ion-icon name="ios-cash" style="font-size: 30px;"></ion-icon>
                  </h3>
                <h3 *ngIf="! restaurant.only_cash || restaurant.only_cash == null">
                  <ion-icon name="ios-cash" style="margin-right: 5px; font-size: 30px;"></ion-icon><ion-icon name="ios-card" style="font-size: 30px;"></ion-icon>
                </h3>
              </div>
          <div>
              <h3 style="margin-left: -13px">
                  <button *ngIf="restaurant.freights.length > 0" ion-button clear small color="fundo" icon-start (click)="showFreights(restaurant)">
                    <ion-icon name='eye'></ion-icon>
                    Frete
                  </button>
                </h3>
              </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div *ngFor="let restaurant of restaurants">
    <ion-card  *ngIf="! restaurant.is_open">
        <ion-row>
            <ion-col col-7 (click)="goToRestaurantMenuPage(restaurant)">
              <img src="{{restaurant.image_base64}}"/>
            </ion-col>
            <ion-col col-5>
              <div (click)="goToRestaurantMenuPage(restaurant)">
                  <h2 style="margin-bottom: 10px">
                      <strong>{{restaurant.fantasy_name}}</strong>
                  </h2>
                    <h3>
                      <ion-badge color="danger">
                        Fechado
                      </ion-badge>
                    </h3>
                    <h3>
                      <ion-badge color="tag">
                        Abre às {{ restaurant.open_at }}
                      </ion-badge>
                    </h3>
                    <h3>
                      <ion-icon name="ios-time"></ion-icon> {{'2018-01-01 ' + restaurant.avg_delivery_time | date:'mm'}} minutos
                    </h3>
                      <h3 style="margin-top: 10px" *ngIf="restaurant.only_cash">
                        <ion-icon name="ios-cash" style="font-size: 30px;"></ion-icon>
                      </h3>
                    <h3 *ngIf="! restaurant.only_cash || restaurant.only_cash == null">
                      <ion-icon name="ios-cash" style="margin-right: 5px; font-size: 30px;"></ion-icon><ion-icon name="ios-card" style="font-size: 30px;"></ion-icon>
                    </h3>
                  </div>
              <div>
                  <h4 style="margin-left: -13px">
                      <button ion-button clear small color="fundo" icon-start (click)="showFreights(restaurant)">
                        <ion-icon name='eye'></ion-icon>
                        Frete
                      </button>
                    </h4>
                  </div>
            </ion-col>
          </ion-row>
    </ion-card>
  </div>
</ion-content>
