<ion-header>
  <ion-navbar color="fundo">
    <ion-title>Meus pedidos</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)='goToHome()'>
          <ion-icon color='white' name='home'>
          </ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="confirmed.length <= 0 && outstanding.length <=0">
    <ion-item>
      <h2>
        Não há pedidos para exibir.
      </h2>
    </ion-item>
  </ion-card>
    <ion-card *ngIf="confirmed.length > 0 || outstanding.length > 0">
        <ion-item>
          <accordion-list *ngFor="let item of items; let index = index"
                          [title]="item.name"
                          textColor="#222"
                          hasMargin="true"
                          headerColor="#f4f4f4">
            <ion-list no-lines>
                <button style="margin-bottom: 5px; padding: 5px" color="#8888" ion-item *ngFor="let order of item.orders" (click)="goToOrderDetailPage(order)">
                    <p style="font-size: smaller; color: black"><strong>Data de entrega: </strong> {{order.receive_at | date: 'dd/MM/yyyy hh:mm'}}</p>
                    <p style="font-size: smaller; color: black"><strong>Restaurante: </strong> {{order.company.fantasy_name}}</p>
                    <p style="font-size: smaller; color: black"><strong>Preço: </strong> {{order.price | currency: 'BRL': true}}</p>
                </button>
            </ion-list>
      </accordion-list>
    </ion-item>
  </ion-card>
</ion-content>
