<!--
  Generated template for the SelectProductIngredientsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fundo">
    <ion-title>{{menu.description}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-group *ngFor="let ingredient_group of ingredients_groups">
    <ion-item-divider color="light">
      <ion-row>
        <ion-col col-6>
          {{ingredient_group.name}}
        </ion-col>
        <ion-col col-6>
          Opções restantes: {{ingredient_group.number_options < 0 ? 0 : ingredient_group.number_options}}
        </ion-col>
      </ion-row>
    </ion-item-divider>
    <ion-item *ngFor="let ingredient of ingredient_group.ingredients">
      <ion-label>{{ingredient.name}}</ion-label>
      <ion-checkbox [(ngModel)] = "ingredient.checked" (ionChange)="onCheckIngredient(ingredient_group, ingredient, $event)" color="dark" checked="false"></ion-checkbox>
    </ion-item>
  </ion-item-group>
  <ion-fab right bottom>
    <button ion-fab color="fundo" (click)="goToSelectProductSizePage()"><ion-icon name="arrow-forward"></ion-icon></button>
  </ion-fab>

  <ion-footer-bar *ngIf="additional_value > 0">
    <ion-toolbar>
      <ion-title>Valor adicional:{{additional_value | currency: 'BRL': true}}</ion-title>
    </ion-toolbar>
  </ion-footer-bar>
</ion-content>
