page-restaurant-menu {
  img {
    width: 150px;
    height: 102px;
    margin-top: 25px;
  }
  ion-item {
    font-size: 5px;
  }
  ion-list-header {
    font-size: 20px;
  }
  ion-icon {
    font-size: 80px;
    margin-top: 10px;
  }
}
